.dashboard-container{
    border: 1px solid #827070;  
    width: 80vw;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 75vh;
    border-radius: 15px;
    background-color:#292929;   
}